/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */
html{
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
body {
    font-family: sans-serif;
    color: #fff;
    background: #000;
   
}
h1 {
    margin-left: 1rem; 
}
header {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    background: #242526;
    padding: 1.5rem;
    margin: 0;
}
nav ul{
    display: flex;
    list-style: none; 
    margin: 0; 
}
nav ul li {
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem; 
}
h2 {
    margin-left: 0.25rem;
}

article {
    display: flex;
    padding: 1rem; 
    justify-content: space-evenly;
}

#cougar {
    background: #B26219;
    color: #333;
}
#lion {
    background: #FFD5AE;
    color: #333;
}
#tiger {
    background: #FFBD82;
    color: #333; 
}

section {
    max-width: 620px;
}
.text {  
    font-size: 1.15rem;
}
p {
    margin-left: 0.25rem;
}
footer {
    text-align: center; 
    background: #242526;
    padding: 1.5rem; 
}

img {
    display: flex;
    max-width: 100%; /* DO NOT delete or change this line */
    margin: 0; 
    margin-top: 1rem;
    margin-left: 0.25rem;
    
}

/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #379CB2;
}
a:hover {
    color: #82E8FF;
}
